* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
   body {
    cursor: pointer;
   }

  .secondnav ul {
     display: flex;
  flex-wrap: wrap;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   height: 10vh;
   justify-content: center;
   align-items: center;
   background-color: black;
   list-style: none;
   color: white;
  }
    
 

   .secondnav li   {
     display: flex;
     font-size: 20px;
    padding: 7px 18px;
    text-align: center;
    text-decoration: none;
    
   
   }
   .secondnav li a {
    text-decoration: none;
    color: white;

   }

   .secondnav li a:hover {
    color: red;
   }
  
       .secondnav li:hover {
        color: red  ;
       }

.content {
    display: flex;
    justify-content: center;
}
  .content img {
     display: block;
     margin: auto;
     object-fit: cover;
     box-shadow:  0 0 5px lightgray;
  }

       @media(max-width:600px) {
         .secondnav li  {
             font-size: 16px;
             padding: 0px 15px ;
             
         }
         .secondnav ul {
            padding: 10px 0;
             height: auto;
             
         }
       }